ENV VARIABLES REQUIRED:
1. <DB_URI>= URL OF THE DB
2. <SERVER_PORT>= PORT OF THE SERVER
3. <JWT_SECRET>= FOR JWT 
4. <DEPLOYMENT> = "either development or production"
5. <BCRYPT_SALT> = salt rounds for bcrypt (password encryption)
6. <FRONT_END_URL> = URL of frontend to be sent with emails for verification etc.


MAIL SERVER VARIABLES
1. <HOTEL_SOFTWARE_EMAIL> = EMAIL OF THE SENDING ADDRESS (eg. no-reply@system.etc)
2. <HOTEL_EMAIL_PASSWORD> = PASSWORD FOR THE HOTEL EMAIL for (eg. no-reply@systen.etc)
3. <HOTEL_EMAIL_HOST> = smpt server address (eg. smtp.zoho.com)
4. <HOTEL_NAME> = NAME OF HOTEL TO USE WHEN SENDING EMAIL
